@import 'src/variables.scss';

$AppSpacing: 2%;

.App {
	background-color: $control-background;
	box-sizing: border-box;
	color: $control-color;
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: $AppSpacing;
	width: 100vw;

	.TurnDisplay {
		margin-bottom: 1em;
	}
}

.App-Board {
	flex: 1;
	background-color: white;
	background-image: url($public-url + 'board.png');
	background-size: 100% 100%;
	position: relative;
}

.App-TopContent {
	display: flex;
	margin-bottom: $AppSpacing / 2;
}
