@import './variables';

@mixin CardPile {
	background-color: $button-background;
	border: 1px solid #000;
	height: $card-height;
	width: $card-width;
}

@mixin FullBackgroundJpg($fileName) {
	background-image: url('./images/' + $fileName + '.jpg');
	background-size: 100% 100%;
}

@mixin ColorCard($color) {
	@include FullBackgroundJpg('card-' + $color);
}

@mixin DoubleColorCard($color) {
	@include FullBackgroundJpg('card-' + $color + '-2');
}

@mixin CharacterCard($card-name) {
	display: flex;

	&::before {
		@include FullBackgroundJpg('card-' + $card-name);
		content: '';
		display: inline-block;
		flex: 1;
		margin: 28px 8px;
	}
}

.Deck {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: center;
}

.Deck-pile {
	margin: 0 0 0.5em 0.5em;
}

.Deck-draw-pile {
	@include CardPile;
	@include FullBackgroundJpg('card-back');
}

.Deck-discard-pile {
	@include CardPile;

	&.Deck-discard-pile--red {
		@include ColorCard('red');
	}

	&.Deck-discard-pile--purple {
		@include ColorCard('purple');
	}

	&.Deck-discard-pile--yellow {
		@include ColorCard('yellow');
	}

	&.Deck-discard-pile--blue {
		@include ColorCard('blue');
	}

	&.Deck-discard-pile--orange {
		@include ColorCard('orange');
	}

	&.Deck-discard-pile--green {
		@include ColorCard('green');
	}

	&.Deck-discard-pile--2_red {
		@include DoubleColorCard('red');
	}

	&.Deck-discard-pile--2_purple {
		@include DoubleColorCard('purple');
	}

	&.Deck-discard-pile--2_yellow {
		@include DoubleColorCard('yellow');
	}

	&.Deck-discard-pile--2_blue {
		@include DoubleColorCard('blue');
	}

	&.Deck-discard-pile--2_orange {
		@include DoubleColorCard('orange');
	}

	&.Deck-discard-pile--2_green {
		@include DoubleColorCard('green');
	}

	&.Deck-discard-pile--candy-cane {
		@include CharacterCard('candy-cane');
	}

	&.Deck-discard-pile--candy-heart {
		@include CharacterCard('candy-heart');
	}

	&.Deck-discard-pile--gumdrop {
		@include CharacterCard('gumdrop');
	}

	&.Deck-discard-pile--ice-cream {
		@include CharacterCard('ice-cream');
	}

	&.Deck-discard-pile--peanut-brittle {
		@include CharacterCard('peanut-brittle');
	}

	&.Deck-discard-pile--sucker {
		@include CharacterCard('sucker');
	}
}
