@import './variables';

$player-size-multiplyer: 6;

.Player {
	background-size: 100% 100%;
	border-radius: 50%;
	height: 20px * $player-size-multiplyer;
	position: absolute;
	transform: translate(-50%, -85%);
	transition-property: left, top;
	transition-duration: 1s;
	width: 13px * $player-size-multiplyer;
}

.Player-blue {
	background-image: url($public-url + 'player-blue.png');
}

.Player-brown {
	background-image: url($public-url + 'player-brown.png');
}


.Player-red {
	background-image: url($public-url + 'player-red.png');
}

.Player-purple {
	background-image: url($public-url + 'player-purple.png');
}