@import './variables';

.Player {
	background-size: 100% 100%;
	height: 12.22%;
	position: absolute;
	transform: translate(-50%, -85%);
	transition-property: left, top;
	transition-duration: 300ms;
	width: 5.35%;

	&.Flip {
		transform: scaleX(-1) translate(50%, -85%);
	}
}

.Player-blue {
	background-image: url('./images/player-blue.png');
}

.Player-orange {
	background-image: url('./images/player-orange.png');
}

.Player-pink {
	background-image: url('./images/player-pink.png');
}

.Player-purple {
	background-image: url('./images/player-purple.png');
}
