// style variables
$input-background: white;
$input-color: black;
$button-background: white;
$button-color: black;
$control-background: #FEFFB6;
$control-color: black;

$card-height: 150px;
$card-width: 200px;