// monokai theme colors
$monokai-grey: #272822;
$monokai-pink: #F92672;
$monokai-blue: #66D9EF;
$monokai-green: #A6E22E;
$monokai-orange: #FD971F;

// style variables
$input-background: white;
$input-color: black;
$button-background: white;
$button-color: black;
$control-background: #DDDDFF;
$control-color: black;
// This should be '/', but webpack is being a pain about pulling stuff from the '/public' directory
$public-url: 'http://localhost:3000/';
